extends layout

block content
  h1= title

    p My site consits of the welcome page that is the main page.Apart from this it contains the booklist folder this displays the book names along with its theme, Hope you guys are enjyoing!